.own_h1 {
  text-align: center;
  margin: "0 auto";
  color: #fff;
}

@media only screen and (max-width: 425px) {
  .own_h1 {
    text-align: center;
    margin-left: 20px;
  }
}
.own_p {
  text-align: center;
  margin: "0 auto";
  color: #fff;
}
@media only screen and (max-width: 425px) {
  .own_p {
    text-align: center;
    margin: "0 auto";
    margin-left: 20px;
    color: #fff;
  }
}
